

a{
    text-align: center;
}

#enlace1 {
    display: inline-block;
    width: 20%;
    background-color: aquamarine;
}
#enlace2 {
    display: inline-block;
    width: 20%;
    background-color: brown;
}
#enlace3 {
    display: inline-block;
    width: 20%;
    background-color: chocolate;
}
#barra_enlaces{
    text-align: center;
}