* {
    box-sizing: border-box;
}

body {
    background-color: lawngreen;
}

.papelera {
    width: 12px;
}

.lapiz {
    width: 12px;
}

#listaTarea>li>span {
    display: inline-block;
    width: calc(100% - 24px);
}

#listaTarea>li {
    padding: 5px;
}

#listaTarea>li:hover {
    background-color: lightcoral;
}